.top-content .carousel-item {
  height: 100vh;
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./asset/background.png);
  background-position: center;
}

.leftimgsize { width: 100vw; }

.paddx { padding: 48px; }

.prize { width: 232px; }

.wb { word-break: keep-all; }

.rounding { border-radius: 40px; }

.contact {
  width: 128px;
  height: 128px;
}


@media screen and (max-width: 992px) {
  .leftimgsize{
    max-width: 512px;
  }
  .paddx{
    padding: 36px 24px;
  }
  .rounding {
    border-radius: 32px;
  }
  .contact{
    width: 96px;
    height: 96px;
  }
}

@media screen and (max-width: 576px) {
  .prize{
    width: 232px !important;
    margin: 16px !important;
  }
  
  .leftimgsize{
    padding: 24px !important;
    width: 100%;
  }
  .imgsize{
    height: 230px;
    width: 230px;
    margin: 0px auto;
    border-radius: 0px !Important;
  }
}
