@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colours */
  --color-primary: var(--ghost-accent-color, c7d2fe);
  --color-base: #131313;
  --color-border: #ddd;
  --color-bg: #f5f5f5;
  --color-success: #80b912;
  --color-error: #f05230;

  /* Fonts */
  --font-sans-serif: "SUIT", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-serif: "SUIT", Georgia, Times, serif;
  --font-mono: Menlo, Courier, monospace;
  --font-light: 100;
  --font-normal: 400;
  --font-bold: 700;
  --font-heavy: 800;

  /* Breakpoints */
  --screen-xl: 1536px;
  --screen-l: 1080px;
  --screen-m: 720px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
}


.bg-light {
  @apply bg-gray-100 dark:bg-gray-950;
  @apply text-gray-950 dark:text-gray-100;
}

.bg-heavy {
  @apply bg-gray-50 dark:bg-gray-900 shadow;
  @apply text-gray-950 dark:text-gray-100;
}

.lib-grid{
  --gap: 1rem;
  --grid-m: min(var(--screen-m), 100% - var(--gap) * 2);
  --grid-l: minmax(
      0,
      calc((var(--screen-l) - var(--screen-m)) / 2)
  );
  --grid-xl: minmax(
      0,
      calc((var(--screen-xl) - var(--screen-l)) / 2)
  );
  --grid-full: minmax(var(--gap), 1fr);

  display: grid;
  grid-template-columns:
      [full-start] var(--grid-full)
      [xl-start] var(--grid-xl)
      [l-start] var(--grid-l)
      [m-start] var(--grid-m) [m-end]
      var(--grid-l) [l-end]
      var(--grid-xl) [xl-end]
      var(--grid-full) [full-end];
}

.lib-grid > * {
  grid-column: m-start / m-end;
}

.lib-grid-m{
  grid-column: m-start / m-end;
}

.lib-grid-l{
  grid-column: l-start / l-end;
}

.lib-grid-xl {
  grid-column: xl-start / xl-end;
}