@import "./test.css";

/* 자기소개 페이지와 공유하는 css 모음집 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colours */
  --color-primary: var(--ghost-accent-color, c7d2fe);
  --color-base: #131313;
  --color-border: #ddd;
  --color-bg: #f5f5f5;
  --color-success: #80b912;
  --color-error: #f05230;

  /* Fonts */
  font-family: "SUIT";

  /* Breakpoints */
  --screen-xl: 1536px;
  --screen-l: 1080px;
  --screen-m: 720px;

  /* Sizes */
  --height: 4rem;
  --margin: 2rem;
  --radius: 0.5rem;
  --gap: 1rem;

  /* shader */
  --darken: rgba(0, 0, 0, 0.5);
}

/* grid system */

.page {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  flex: 1 1 0%;
}

.lib-grid {
  --grid-m: min(var(--screen-m), 100% - var(--gap) * 2);
  --grid-l: minmax(0, calc((var(--screen-l) - var(--screen-m)) / 2));
  --grid-xl: minmax(0, calc((var(--screen-xl) - var(--screen-l)) / 2));
  --grid-full: minmax(var(--gap), 1fr);

  display: grid;
  grid-template-columns:
    [full-start] var(--grid-full)
    [xl-start] var(--grid-xl)
    [l-start] var(--grid-l)
    [m-start] var(--grid-m) [m-end]
    var(--grid-l) [l-end]
    var(--grid-xl) [xl-end]
    var(--grid-full) [full-end];
}

.lib-grid > * {
  grid-column: m-start / m-end;
}

.lib-grid-m {
  grid-column: m-start / m-end;
}

.lib-grid-l {
  grid-column: l-start / l-end;
}

.lib-grid-xl {
  grid-column: xl-start / xl-end;
}

/* background */

.bg-light {
  @apply bg-gray-100 dark:bg-gray-950;
  @apply text-gray-950 dark:text-gray-100;
}

.bg-heavy {
  @apply bg-gray-50 dark:bg-gray-900 shadow;
  @apply text-gray-950 dark:text-gray-100;
}

.bg-darker::before {
  position: absolute;
  inset: 0;
  z-index: 10;
  content: "";
  background: var(--darken);
}

.bg-image {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pill */

.pill-sm {
  @apply px-2 py-0.5 text-[13px] rounded;
}

.pill-lg {
  @apply px-4 py-2 text-[1rem] rounded-[2rem];
}

.pill-xl {
  @apply px-5 py-3 text-[1.5rem] rounded-[2rem];
}

.pill {
  @apply font-semibold shadow;
  display: inline-block;
  vertical-align: middle;
}

.pill-clear {
  background-color: transparent;
}

.pill,
.pill > * {
  @apply text-gray-950 !important;
  display: inline-block;
}

.pill svg {
  @apply me-2 h-[24px];
  vertical-align: top;
}
