.tl-guide {
  text-align: center;
  color: black;
  border-bottom: 1px solid black;
  @apply mb-1;
}

.tlItem {
  background: #aaaaaa;
  display: block;
  float: left;
}

.tlText {
  text-align: center;
  color: white;
}
