.tl-guide {
  text-align: center;
  color: black;
  border-bottom-width: 1px;
  @apply border-gray-300;
  @apply mb-0.5 text-lg font-semibold;
}

.tlItem {
  background: #aaaaaa;
  display: block;
}

.tlText {
  text-align: center;
  color: white;
}
