.contact {
  @apply mb-2;
  height: 20px;
}

.contact * {
  @apply inline-block me-2;
  vertical-align: bottom;
  height: 20px;
}

.card-container {
  position: relative;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.card-wrapper {
  width: 450px;
  height: 250px;

  transform-style: preserve-3d;
  transition: transform 500ms;

  position: relative;
}
/*
.card-container:hover .card-wrapper {
  transform: rotateY(180deg);
}
*/
.card-wrapper:hover .front {
  z-index: 0;
}

.card {
  @apply bg-slate-50 p-4;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  user-select: none;
  cursor: pointer;
}

.front {
  z-index: 10;
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flip-exit {
  transform: rotateY(0deg);
}

.flip-exit-active {
  transform: rotateY(180deg);
  transition: transform 300ms;
}

.flip-exit-done {
  transform: rotateY(180deg);
}

.flip-enter {
  transform: rotateY(180deg);
}

.flip-enter-active {
  transform: rotateY(0deg);
  transition: transform 300ms;
}

.flip-enter-done {
  transform: rotateY(0deg);
}
