.ProfileImage {
  width: 96px;
  border-radius: 32px;
  margin-bottom: 16px;
}

button {
  color: theme("colors.slate.50");
  padding: 0.25rem 0.75rem;
}

hr {
  background: theme("colors.slate.950");
  height: 1px;
  border: 0;
  max-width: 40rem;
  margin: 1rem 0;
}

.tagbox {
  width: 20rem;
}

.card-elem {
  @apply mb-1;
}

.card-elem p:first-child {
  @apply text-lg font-bold;
}

.card-elem p:not(:first-child) {
  @apply text-sm;
}

.profile-picture {
  @apply mb-4;
  width: 128px;
  height: 128px;
}

.title {
  background: #d2daff;
  background: linear-gradient(30deg, #d2daff 0%, #aac4ff 100%);
}

.social a {
  width: 4rem;
  height: 4rem;
}
