.ProfileImage {
  width: 96px;
  border-radius: 32px;
  margin-bottom: 16px;
}

button {
  color: theme("colors.slate.50");
  padding: 0.25rem 0.75rem;
}

hr {
  background: theme("colors.slate.950");
  height: 1px;
  border: 0;
  max-width: 40rem;
  margin: 1rem 0;
}

.tagbox {
  width: 20rem;
}
